[Unit]
Description=Dhcpd process running inside rkt
Requires=network-online.target
After=networking.service

[Service]
EnvironmentFile=/etc/rkt-environment
Slice=machine.slice
ExecStartPre=/usr/local/bin/rkt-cleanup dhcp
ExecStart=/usr/bin/rkt \
--net=default:IP=${IP_DHCP} \
--hostname=${FQDN_DHCP} \
--dns=${UNBOUND_ANYCAST_IPV4} \
--dns-search="${DOMAIN}" \
--set-env-file=/etc/rkt-environment \
--volume=data,kind=host,source=/var/rkt/dhcp,readOnly=false \
run dhcp \
--caps-retain=CAP_NET_BIND_SERVICE,CAP_NET_RAW
ExecStopPost=/usr/local/bin/rkt-cleanup dhcp
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
