[Unit]
Description=Unbound process running inside rkt
Requires=network-online.target
After=networking.service

[Service]
EnvironmentFile=/etc/rkt-environment
Slice=machine.slice
ExecStartPre=/usr/local/bin/rkt-cleanup unbound
ExecStart=/usr/bin/rkt \
--net=default:IP=${IP_UNBOUND} \
--hostname=${FQDN_UNBOUND} \
--dns=${UNBOUND_ANYCAST_IPV4} \
--dns-search="${DOMAIN}" \
--set-env-file=/etc/rkt-environment \
run unbound \
--caps-retain=CAP_NET_ADMIN,CAP_NET_BIND_SERVICE,CAP_SYS_CHROOT,CAP_CHOWN,CAP_SETGID,CAP_SETUID
ExecStopPost=/usr/local/bin/rkt-cleanup unbound
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
