server:
	verbosity: 0
	statistics-interval: 0
	statistics-cumulative: no
	extended-statistics: yes

	num-threads: %NUM_THREADS%

	interface: 0.0.0.0
	# interface-automatic: no
	port: %PORT%
	# outgoing-interface: 192.0.2.153
	outgoing-range: %OUTGOING_RANGE%
	outgoing-port-permit: %OUTGOING_PORT_PERMIT%
	outgoing-port-avoid: %OUTGOING_PORT_AVOID%
	outgoing-num-tcp: %OUTGOING_NUM_TCP%
	incoming-num-tcp: %INCOMING_NUM_TCP%
	so-rcvbuf: %SO_RCVBUF%
	so-sndbuf: %SO_SNDBUF%
	so-reuseport: %SO_REUSEPORT%
	# ip-transparent: no
	edns-buffer-size: %EDNS_BUFFER_SIZE%
	max-udp-size: %MAX_UDP_SIZE%
	msg-buffer-size: %MSG_BUFFER_SIZE%
	msg-cache-size: %MSG_CACHE_SIZE%
	msg-cache-slabs: %MSG_CACHE_SLABS%
	num-queries-per-thread: %NUM_QUERIES_PER_THREAD%
	jostle-timeout: %JOSTLE_TIMEOUT%
	delay-close: %DELAY_CLOSE%
	rrset-cache-size: %RRSET_CACHE_SIZE%
	rrset-cache-slabs: %RRSET_CACHE_SLABS%
	cache-min-ttl: %CACHE_MIN_TTL%
	cache-max-ttl: %CACHE_MAX_TTL%
	cache-max-negative-ttl: %CACHE_MAX_NEGATIVE_TTL%
	infra-host-ttl: %INFRA_HOST_TTL%
	infra-cache-min-rtt: %INFRA_CACHE_MIN_TTL%
	infra-cache-slabs: %INFRA_CACHE_SLABS%
	infra-cache-numhosts: %INFRA_CACHE_NUMHOSTS%
  do-ip4: %DO_IP4%
	do-ip6: %DO_IP6%
	do-udp: %DO_UDP%
	do-tcp: %DO_TCP%
	tcp-upstream: %TCP_UPSTREAM%
	do-daemonize: no
	access-control: 0.0.0.0/0 allow
	# chroot: "/etc/unbound"
	username: "unbound"
	# directory: "/etc/unbound"
	logfile: ""
	use-syslog: no
	# log-time-ascii: no
	# log-queries: no
	# pidfile: "/etc/unbound/unbound.pid"
	root-hints: "/etc/unbound/root.hints"
	hide-identity: %HIDE_IDENTITY%
	hide-version: %HIDE_IDENTITY%
	identity: %IDENTITY%
	version: %VERSION%
	target-fetch-policy: %TARGET_FETCH_POLICY%
	harden-short-bufsize: %HARDEN_SHORT_BUFSIZE%
	harden-large-queries: %HARDEN_LARGE_QUERIES%
	harden-glue: %HARDEN_GLUE%
	harden-dnssec-stripped: %HARDEN_DNSSEC_STRIPPED%
	harden-below-nxdomain: %HARDEN_BELOW_NXDOMAIN%
	harden-referral-path: %HARDEN_REFERRAL_PATH%
	harden-algo-downgrade: %HARDEN_ALGO_DOWNGRADE%
	# use-caps-for-id: no
	# caps-whitelist: "licdn.com"
	# private-address: 10.0.0.0/8
	# private-address: 172.16.0.0/12
	# private-address: 192.168.0.0/16
	# private-address: 169.254.0.0/16
	# private-address: fd00::/8
	# private-address: fe80::/10
	# private-domain: "example.com"
	unwanted-reply-threshold: %UNWANTED_REPLY_THRESHOLD%
	# do-not-query-address: 127.0.0.1/8
	# do-not-query-address: ::1
	# do-not-query-localhost: yes
	prefetch: %PREFETCH%
	prefetch-key: %PREFETCH_KEY%
	rrset-roundrobin: %RRSET_ROUNDROBIN%
	minimal-responses: %MINIMAL_RESPONSE%
	# module-config: "validator iterator"
	module-config: %MODULE_CONFIG%
	auto-trust-anchor-file: "/etc/unbound/root.key"
	# trust-anchor-file: ""
	# trust-anchor: "nlnetlabs.nl. DNSKEY 257 3 5 AQPzzTWMz8qSWIQlfRnPckx2BiVmkVN6LPupO3mbz7FhLSnm26n6iG9N Lby97Ji453aWZY3M5/xJBSOS2vWtco2t8C0+xeO1bc/d6ZTy32DHchpW 6rDH1vp86Ll+ha0tmwyy9QP7y2bVw5zSbFCrefk8qCUBgfHm9bHzMG1U BYtEIQ=="
	# trusted-keys-file: ""
	# domain-insecure: "example.com"
	# val-override-date: ""
	# val-bogus-ttl: 60
	# val-sig-skew-min: 3600
	# val-sig-skew-max: 86400
	# val-clean-additional: yes
	# val-permissive-mode: no
	# ignore-cd-flag: no
	# val-log-level: 0
	# val-nsec3-keysize-iterations: "1024 150 2048 500 4096 2500"
	# add-holddown: 2592000 # 30 days
	# del-holddown: 2592000 # 30 days
	# keep-missing: 31622400 # 366 days
	key-cache-size: %KEY_CACHE_SIZE%
	key-cache-slabs: %KEY_CACHE_SLABS%
	neg-cache-size: %NEG_CACHE_SIZE%
    #
	# local-zone: "localhost." nodefault
	# local-zone: "127.in-addr.arpa." nodefault
	# local-zone: "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa." nodefault
	# local-zone: "10.in-addr.arpa." nodefault
	# local-zone: "16.172.in-addr.arpa." nodefault
	# local-zone: "17.172.in-addr.arpa." nodefault
	# local-zone: "18.172.in-addr.arpa." nodefault
	# local-zone: "19.172.in-addr.arpa." nodefault
	# local-zone: "20.172.in-addr.arpa." nodefault
	# local-zone: "21.172.in-addr.arpa." nodefault
	# local-zone: "22.172.in-addr.arpa." nodefault
	# local-zone: "23.172.in-addr.arpa." nodefault
	# local-zone: "24.172.in-addr.arpa." nodefault
	# local-zone: "25.172.in-addr.arpa." nodefault
	# local-zone: "26.172.in-addr.arpa." nodefault
	# local-zone: "27.172.in-addr.arpa." nodefault
	# local-zone: "28.172.in-addr.arpa." nodefault
	# local-zone: "29.172.in-addr.arpa." nodefault
	# local-zone: "30.172.in-addr.arpa." nodefault
	# local-zone: "31.172.in-addr.arpa." nodefault
	# local-zone: "168.192.in-addr.arpa." nodefault
	# local-zone: "0.in-addr.arpa." nodefault
	# local-zone: "254.169.in-addr.arpa." nodefault
	# local-zone: "2.0.192.in-addr.arpa." nodefault
	# local-zone: "100.51.198.in-addr.arpa." nodefault
	# local-zone: "113.0.203.in-addr.arpa." nodefault
	# local-zone: "255.255.255.255.in-addr.arpa." nodefault
	# local-zone: "0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa." nodefault
	# local-zone: "d.f.ip6.arpa." nodefault
	# local-zone: "8.e.f.ip6.arpa." nodefault
	# local-zone: "9.e.f.ip6.arpa." nodefault
	# local-zone: "a.e.f.ip6.arpa." nodefault
	# local-zone: "b.e.f.ip6.arpa." nodefault
	# local-zone: "8.b.d.0.1.0.0.2.ip6.arpa." nodefault
	# And for 64.100.in-addr.arpa. to 127.100.in-addr.arpa.

  # rkt zone
  local-zone: "rkt." static
  local-data: "rkt. 10800 IN NS unbound.rkt."
  local-data: "rkt. 10800 IN SOA rkt. dnsmaster.rkt. 1 3600 1200 604800 10800"
  local-data: "rkt. 10800 IN A 10.0.4.1"
  local-data: "localhost.rkt. 10800 IN A 127.0.0.1"
  local-data: "localhost.rkt. 10800 IN AAAA ::1"
  local-data: "alita.rkt. 10800 IN A 10.0.4.1"
  local-data: "registrator.rkt. 10800 IN A 10.0.4.251"
  local-data: "consul.rkt. 10800 IN A 10.0.4.252"
  local-data: "etcd.rkt. 10800 IN A 10.0.4.253"
  local-data: "unbound.rkt. 10800 IN A 10.0.4.254"

  # 4.0.10.in-addr.arpa zone
  local-zone: "4.0.10.in-addr.arpa." static
  local-data: "4.0.10.in-addr.arpa. 10800 IN NS unbound.rkt."
  local-data: "4.0.10.in-addr.arpa. 10800 IN SOA dev. dnsmaster.rkt. 1 3600 1200 604 800 10800"
  local-data: "1.4.0.10.in-addr.arpa. 10800 IN PTR alita.rkt."
  local-data: "251.4.0.10.in-addr.arpa. 10800 IN PTR registrator.rkt."
  local-data: "252.4.0.10.in-addr.arpa. 10800 IN PTR consul.rkt."
  local-data: "253.4.0.10.in-addr.arpa. 10800 IN PTR etcd.rkt."
  local-data: "254.4.0.10.in-addr.arpa. 10800 IN PTR unbound.rkt."

	# unblock-lan-zones: no
	# local-data-ptr: "192.0.2.3 www.example.com"
	# ssl-service-key: "path/to/privatekeyfile.key"
	# ssl-service-pem: "path/to/publiccertfile.pem"
	ssl-port: %SSL_PORT%
	ssl-upstream: %SSL_UPSTREAM%
	# dns64-prefix: 64:ff9b::0/96
	ratelimit: %RATELIMIT%
	ratelimit-size: %RATELIMIT_SIZE%
	ratelimit-slabs: %RATELIMIT_SLABS%
	ratelimit-factor: %RATELIMIT_FACTOR%
	# ratelimit-for-domain: example.com 1000
	# ratelimit-below-domain: example 1000

remote-control:
	control-enable: yes
	control-use-cert: yes
	# control-interface: 127.0.0.1
	# control-interface: ::1
	control-port: 8953
	server-key-file: "/etc/unbound/unbound_server.key"
	server-cert-file: "/etc/unbound/unbound_server.pem"
	control-key-file: "/etc/unbound/unbound_control.key"
	control-cert-file: "/etc/unbound/unbound_control.pem"

forward-zone:
    name: "service.local"
    forward-addr: "10.0.4.252@8600"
