server:
  verbosity: {{getv "/unbound/verbosity"}}
  statistics-interval: {{getv "/unbound/statistics-interval"}}
  statistics-cumulative: {{getv "/unbound/statistics-cumulative"}}
  extended-statistics: {{getv "/unbound/extended-statistics"}}
  num-threads: {{getv "/unbound/num-threads"}}
{{range gets "/unbound/ip-address/*"}}
  ip-address: {{base .Key}}
{{end}}
  ip-transparent: {{getv "/unbound/ip-transparent"}}
  interface-automatic: {{getv "/unbound/interface-automatic"}}
  port: {{getv "/unbound/port"}}
  outgoing-range: {{getv "/unbound/outgoing-range"}}
  outgoing-num-tcp: {{getv "/unbound/outgoing-num-tcp"}}
  incoming-num-tcp: {{getv "/unbound/incoming-num-tcp"}}
  so-rcvbuf: {{getv "/unbound/so-rcvbuf"}}
  so-sndbuf: {{getv "/unbound/so-sndbuf"}}
  so-reuseport: {{getv "/unbound/so-reuseport"}}
  edns-buffer-size: {{getv "/unbound/edns-buffer-size"}}
  max-udp-size: {{getv "/unbound/max-udp-size"}}
  msg-buffer-size: {{getv "/unbound/msg-buffer-size"}}
  msg-cache-size: {{getv "/unbound/msg-cache-size"}}
  msg-cache-slabs: {{getv "/unbound/msg-cache-slabs"}}
  num-queries-per-thread: {{getv "/unbound/num-queries-per-thread"}}
  jostle-timeout: {{getv "/unbound/jostle-timeout"}}
  delay-close: {{getv "/unbound/delay-close"}}
  rrset-cache-size: {{getv "/unbound/rrset-cache-size"}}
  rrset-cache-slabs: {{getv "/unbound/rrset-cache-slabs"}}
  rrset-roundrobin: {{getv "/unbound/rrset-roundrobin"}}
  cache-min-ttl: {{getv "/unbound/cache-min-ttl"}}
  cache-max-ttl: {{getv "/unbound/cache-max-ttl"}}
  cache-max-negative-ttl: {{getv "/unbound/cache-max-negative-ttl"}}
  infra-host-ttl: {{getv "/unbound/infra-host-ttl"}}
  infra-cache-min-rtt: {{getv "/unbound/infra-cache-min-rtt"}}
  infra-cache-slabs: {{getv "/unbound/infra-cache-slabs"}}
  infra-cache-numhosts: {{getv "/unbound/infra-cache-numhosts"}}
  do-ip4: {{getv "/unbound/do-ip4"}}
	do-ip6: {{getv "/unbound/do-ip6"}}
	do-udp: {{getv "/unbound/do-udp"}}
	do-tcp: {{getv "/unbound/do-tcp"}}
  tcp-upstream: {{getv "/unbound/tcp-upstream"}}
	do-daemonize: no
{{range gets "/unbound/access_control/*"}}
  access-control: {{base .Key}}/{{.Value}} allow
{{end}}
	username: "unbound"
  logfile: "{{getv "/unbound/logfile"}}"
  use-syslog: {{getv "/unbound/use-syslog"}}
  log-time-ascii: {{getv "/unbound/log-time-ascii"}}
  log-queries: {{getv "/unbound/log-queries"}}
  pidfile: "{{getv "/unbound/pidfile"}}"
  root-hints: "{{getv "/unbound/root-hints"}}"
  hide-identity: {{getv "/unbound/hide-identity"}}
  hide-version: {{getv "/unbound/hide-version"}}
  target-fetch-policy: "{{getv "/unbound/target-fetch-policy"}}"
  harden-short-bufsize: {{getv "/unbound/harden-short-bufsize"}}
  harden-large-queries: {{getv "/unbound/harden-large-queries"}}
  harden-glue: {{getv "/unbound/harden-glue"}}
  harden-dnssec-stripped: {{getv "/unbound/harden-dnssec-stripped"}}
  harden-below-nxdomain: {{getv "/unbound/harden-below-nxdomain"}}
  harden-referral-path: {{getv "/unbound/harden-referral-path"}}
  harden-algo-downgrade: {{getv "/unbound/harden-algo-downgrade"}}
  use-caps-for-id: {{getv "/unbound/use-caps-for-id"}}
  unwanted-reply-threshold: {{getv "/unbound/unwanted-reply-threshold"}}
  prefetch: {{getv "/unbound/prefetch"}}
  prefetch-key: {{getv "/unbound/prefetch-key"}}
  rrset-roundrobin: {{getv "/unbound/rrset-roundrobin"}}
  minimal-responses: {{getv "/unbound/minimal-responses"}}
  module-config: {{getv "/unbound/module-config"}}
  auto-trust-anchor-file: "{{getv "/unbound/auto-trust-anchor-file"}}"
  val-override-date: "{{getv "/unbound/val-override-date"}}"
  val-bogus-ttl: {{getv "/unbound/val-bogus-ttl"}}
  val-sig-skew-min: {{getv "/unbound/val-sig-skew-min"}}
  val-sig-skew-max: {{getv "/unbound/val-sig-skew-max"}}
  val-clean-additional: {{getv "/unbound/val-clean-additional"}}
  val-permissive-mode: {{getv "/unbound/val-permissive-mode"}}
  ignore-cd-flag: {{getv "/unbound/ignore-cd-flag"}}
  val-log-level: {{getv "/unbound/val-log-level"}}
  val-nsec3-keysize-iterations: "{{getv "/unbound/val-nsec3-keysize-iterations"}}"
  add-holddown: {{getv "/unbound/add-holddown"}}
  del-holddown: {{getv "/unbound/del-holddown"}}
  keep-missing: {{getv "/unbound/keep-missing"}}
  key-cache-size: {{getv "/unbound/key-cache-size"}}
  key-cache-slabs: {{getv "/unbound/key-cache-slabs"}}
  neg-cache-size: {{getv "/unbound/neg-cache-size"}}
  unblock-lan-zones: {{getv "/unbound/unblock-lan-zones"}}
  ratelimit: {{getv "/unbound/ratelimit"}}
  ratelimit-size: {{getv "/unbound/ratelimit-size"}}
  ratelimit-slabs: {{getv "/unbound/ratelimit-slabs"}}
  ratelimit-factor: {{getv "/unbound/ratelimit-factor"}}

remote-control:
  control-enable: yes
  control-use-cert: yes
  control-interface: 127.0.0.1
  control-interface: ::1
  control-port: 8953
  server-key-file: "/etc/unbound/unbound_server.key"
  server-cert-file: "/etc/unbound/unbound_server.pem"
  control-key-file: "/etc/unbound/unbound_control.key"
  control-cert-file: "/etc/unbound/unbound_control.pem"
{{range gets "/unbound/forward_zone/*"}}
forward-zone:
  name: "{{base .Key}}"
  forward-addr: "{{.Value}}"
{{end}}
