[Unit]
Description=Postgresql process running inside rkt
Requires=network-online.target
After=networking.service

[Service]
EnvironmentFile=/etc/rkt-environment
Slice=machine.slice
ExecStartPre=/usr/local/bin/rkt-cleanup postgresql
ExecStart=/usr/bin/rkt \
--dns=${IP_UNBOUND} \
--dns-search="${DOMAIN}" \
--volume=data,kind=host,source=/var/rkt/postgresql/data,readOnly=false \
--volume=sql,kind=host,source=/var/rkt/postgresql/sql,readOnly=true \
run postgresql
ExecStopPost=/usr/local/bin/rkt-cleanup postgresql
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
