[Unit]
Description=Clamd running inide of docker
After=docker.service

[Service]
PrivateTmp=true
ExecStartPre=/bin/install -d -o root -g clamav -m 1770 /run/clamav
ExecStartPre=/bin/install -d -o root -g clamav -m 1770 /var/lib/clamav
ExecStartPre=/bin/install -d -o root -g clamav -m 1770 /var/log/clamav
ExecStart=/bin/docker run --rm \
  --name clamd \
  -v /etc/clamav:/etc/clamav \
  -v /var/lib/clamav:/var/lib/clamav \
  -v /var/log/clamav:/var/log/clamav \
  -v /run/clamav:/run/clamav \
  as65342/clamav:{{ version }} -d

[Install]
WantedBy=multi-user.target