log_file_path = :syslog
syslog_timestamp = false
log_selector = +all_parents \
                +delivery_size \
                +incoming_interface \
                +incoming_port \
                +smtp_confirmation \
                +smtp_protocol_error \
                +smtp_syntax_error \
                +queue_time \
                +deliver_time \
                +tls_cipher \
                +tls_peerdn
local_interfaces = 213.154.229.26 : \
		10.42.7.26 : \
		127.0.0.1 : \
		2001::7b8::3::47::213::154::229::26 : \
		2001::7b8::607::7::::26
daemon_smtp_ports = 25 : 465 : 587 : 2525 : 7230 : 7231
tls_on_connect_ports = 465 : 7231
auth_advertise_hosts = ${if eq{$tls_cipher}{}{}{*}}
tls_advertise_hosts = *
never_users = daemon : bin : sshd
host_lookup = *
rfc1413_hosts =
rfc1413_query_timeout = 0s
helo_allow_chars = _
smtp_accept_max = 50
smtp_accept_max_nonmail = 10
smtp_accept_max_nonmail_hosts = *
smtp_max_unknown_commands = 2
smtp_accept_max_per_host = 10
bounce_return_body = false
remote_max_parallel = 4
smtp_accept_queue_per_connection = 0
smtp_load_reserve = 15
deliver_queue_load_max = 20
message_size_limit = 150M
queue_run_max = 35
ignore_bounce_errors_after = 2h
timeout_frozen_after = 7d

