[Unit]
Description=Rabbitmq running in rkt
After=rkt-consul.service

[Service]
EnvironmentFile=/etc/rkt-environment
Slice=machine.slice
ExecStartPre=/usr/local/bin/rkt-cleanup rabbitmq
ExecStart=/usr/bin/rkt \
--net=default \
--hostname="${FQDN_RABBITMQ}" \
--dns="${IP_UNBOUND}" \
--dns-search="rkt" \
--volume=data,kind=host,source=/var/rkt/rabbitmq,readOnly=false \
run rabbitmq
ExecStopPost=/usr/local/bin/rkt-cleanup rabbitmq
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
