{"driver":"{{getv "/cfssl/database/driver"}}","data_source":"{{getv "/cfssl/database/driver"}}://{{getv "/cfssl/database/user"}}:{{getv "/cfssl/database/password"}}@{{getv "/cfssl/database/host"}}/{{getv "/cfssl/database/dbname"}}?sslmode=disable"}
