{
  "CN":"{{getv "/cfssl/ocsp-csr/cn"}}",
  "key": {
    "algo": "{{getv "/cfssl/ocsp-csr/key_algo"}}",
    "size": {{getv "/cfssl/ocsp-csr/key_size"}}
  },
  "names": [
    {
      "C": "{{getv "/cfssl/ocsp-csr/req_C"}}",
      "ST": "{{getv "/cfssl/ocsp-csr/req_ST"}}",
      "L": "{{getv "/cfssl/ocsp-csr/req_L"}}",
      "O": "{{getv "/cfssl/ocsp-csr/req_O"}}",
      "OU": "{{getv "/cfssl/ocsp-csr/req_OU"}}"
    }
  ]
}
