[Unit]
Description=Cfssl ocsp responder running inside rkt
Requires=network-online.target
After=networking.service

[Service]
EnvironmentFile=/etc/rkt-environment
Slice=machine.slice
ExecStartPre=/usr/local/bin/rkt-cleanup ocsp
ExecStart=/usr/bin/rkt \
--net=default:IP=${IP_OCSP} \
--hostname=${FQDN_OCSP} \
--dns=${UNBOUND_ANYCAST_IPV4} \
--dns-search="${DOMAIN}" \
--set-env-file=/etc/rkt-environment \
--volume=data,kind=host,source=/var/rkt/cfssl,readOnly=true \
run ocsp
ExecStopPost=/usr/local/bin/rkt-cleanup ocsp
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
