[Unit]
Description=Graphite Carbon process running inside rkt
Requires=network-online.target
After=networking.service

[Service]
EnvironmentFile=/etc/rkt-environment
Slice=machine.slice
ExecStartPre=/usr/local/bin/rkt-cleanup graphite-carbon
ExecStart=/usr/bin/rkt \
--net=default \
--dns=${IP_UNBOUND} \
--dns-search="${DOMAIN}" \
--volume=data,kind=host,source=/var/rkt/graphite-carbon,readOnly=false \
run graphite-carbon
ExecStopPost=/usr/local/bin/rkt-cleanup graphite-carbon
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
