{
  "hosts": [
    "{{getenv "FQDN_LDAP"}}",
    "ldap.as65342.net"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "NL",
      "ST": "Utrecht",
      "L": "Amersfoort",
      "O": "AS65342 Network",
      "OU": "AS65342 LDAP service"
    }
  ]
}
