include   /etc/openldap/schema/core.schema
include   /etc/openldap/schema/cosine.schema
include   /etc/openldap/schema/inetorgperson.schema
include   /etc/openldap/schema/openldap.schema
include   /etc/openldap/schema/nis.schema
include   /etc/openldap/schema/misc.schema
include   /etc/openldap/schema/samba.schema
include   /etc/openldap/schema/ldapns.schema
include   /etc/openldap/schema/mail.schema

# Security settings
# Parameters: sasl, ssf, tls, transport, update_sasl, update_ssf,
#             update_tls, update_transport
security     {{getv "/ldap/server/security"}}

# Require settings
# Paramters: none, authc, bind, LDAPv3, SASL (strong)
#require      authc, LDAPv3

# Allow settings
# Parameters: none, bind_v2, tls_2_anon, bind_anon_cred, bind_anon_dn,
#             update_anon
#allow      bind_v2

# Disallow settings
# Parameters: bind_anon, bind_simple_unprotected, tls_2_anon,
#             bind_simple, bind_krbv4, tls_authc

# Password hash default value
# Parameters: {SHA}, {SMD5}, {MD4}, {CRYPT}, {CLEARTEXT}
password-hash   {SHA}

# Search base
defaultsearchbase {{getv "/ldap/global/base_dn"}}

# Where clients are refered to if no
# match is found locally
# referral ldaps://ldapmaster.as65342.net

## TLS setup, needs certificates

TLSCACertificateFile /etc/ssl/certs/ca-bundle.pem
TLSCertificateFile /etc/cfssl/ldap/ldap.pem
TLSCertificateKeyFile /etc/cfssl/ldap/ldap-key.pem
TLSVerifyClient {{getv "/ldap/server/tls_verify"}}
TLSProtocolMin 3.1

## Kerberos setup
#srvtab   /etc/krb5.keytab.ldap

# Where the pid file is put. The init.d script
# will not stop the server if you change this.
pidfile   /var/run/slapd/slapd.pid

# List of arguments that were passed to the server
argsfile  /var/run/slapd/slapd.args

# Read slapd.conf(5) for possible values
loglevel {{getv "/ldap/server/loglevel"}}

# Where the dynamically loaded modules are stored
moduleload      back_hdb
moduleload      back_monitor
moduleload      syncprov
#moduleload      back_shell

# Some tuning parameters
threads    {{getv "/ldap/server/threads"}}
concurrency    {{getv "/ldap/server/concurrency"}}
conn_max_pending {{getv "/ldap/server/conn_max_pending"}}
conn_max_pending_auth  {{getv "/ldap/server/conn_max_pending_auth"}}
reverse-lookup   {{getv "/ldap/server/reverse-lookup"}}
sizelimit    {{getv "/ldap/server/sizelimit"}}
timelimit    {{getv "/ldap/server/timelimit"}}
idletimeout   {{getv "/ldap/server/idletimeout"}}

# Limits
#limits anonymous size.soft=500 time.soft=5
#limits user    size=none time.soft=30

# Speed up member add/mod/delete operations
sortvals member memberUid roleOccupant

access to dn.base=""
        by * read

# Access to schema information
#access to dn.subtree=""
#        by * read

# The userPassword/shadow Emtries by default can be
# changed by the entry owning it if they are authenticated.
# Others should not be able to see it, except the admin
# entry below
access to attrs=userPassword,sambaPwdLastSet,sambaPwdMustChange,sambaPwdCanChange,shadowMax,shadowExpire
  by dn="cn=ldapadmin,dc=as65342,dc=net" write
  by dn="uid=replicate,ou=services,dc=as65342,dc=net" read
  by anonymous auth
  by self write
  by * none

# Samba passwords by default can be changed
# by the entry owning it if they are authenticated.
# Others should not be able to see it, except the
# admin entry below
access to attrs=sambaLmPassword,sambaNtPassword
  by dn="cn=ldapadmin,dc=as65342,dc=net" write
  by dn="uid=replicate,ou=services,dc=as65342,dc=net" read
  by anonymous auth
  by self write
  by * none

# Allow users to update their own information
access to attrs=givenName,sn,mail,jpegPhoto
  by dn="cn=ldapadmin,dc=as65342,dc=net" write
  by dn="uid=replicate,ou=services,dc=as65342,dc=net" read
  by self write
  by * read

# What trees should be readable, depends on your policy. Either
# use this entry and specify what should be readable, or leave
# the access to * => by * read below untouched
#access to dn="ou=(people|groups)"
# by * read

# The admin dn has full write access
access to *
  by dn="cn=ldapadmin,dc=as65342,dc=net" =wrscx
  by * read
# by peername="ip=127\.0\.0\.1" read
# by * none

#######################################################################
# database definitions
#######################################################################

# Monitor backend

# The backend type, ldbm, is the default standard
database  hdb
cachesize {{getv "/ldap/server/hdb_cachesize"}}
mode      0600

# The base of your directory
suffix    "{{getv "/ldap/global/base_dn"}}"
checkpoint  {{getv "/ldap/server/checkpoint"}}

# Sample password is "tester", generate a new one using the mkpasswd
# utility and put the string after {crypt}
rootdn  "{{getv "/ldap/global/root_dn"}}"
rootpw  {SSHA}JQpf8MUFB+uAn2p7pFD9M9nXx9ogofsA

# Indexing
index default                                   sub
index uid,mail                                  eq
index cn,sn,givenName,ou                        pres,eq,sub
index objectClass                               pres,eq
index uidNumber,gidNumber,memberuid             eq
index roleOccupant                              eq
index mailKey,mailAliasValue,mailVirtualValue   eq
index mtaTransport,relayHost                    eq
index virus,spam,rbl                            eq
index member                                    pres,eq
index sambaSID                                  eq
index sambaPrimaryGroupSID                      eq
index sambaDomainName                           eq

{{$hostname := getenv "FQDN_LDAP"}}
{{$rid_path := printf "/ldap/peers/%s/rid" $hostname}}
{{$provider_path := printf "/ldap/peers/%s/provider" $hostname}}
syncrepl rid={{getv $rid_path}}
  type={{getv "/ldap/syncrepl/type"}}
  provider={{getv $provider_path}}
  bindmethod={{getv "/ldap/syncrepl/bindmethod"}}
  searchbase="{{getv "/ldap/global/base_dn"}}"
  retry="5 3 300 +"
  attrs="*,+"
  binddn="{{getv "/ldap/syncrepl/binddn"}}"
  credentials="splash=flint4abort-there"

overlay syncprov
syncprov-checkpoint {{getv "/ldap/server/syncprov-checkpoint"}}
syncprov-sessionlog {{getv "/ldap/server/syncprov-sessionlog"}}
mirrormode {{getv "/ldap/server/mirrormode"}}
