CA="https://acme-v02.api.letsencrypt.org/directory"
OLDCA=
CERTDIR=/etc/dehydrated
ALPNCERTDIR=
ACCOUNTDIR=
CHALLENGETYPE="http-01"
CONFIG_D=
CURL_OPTS=
DOMAINS_D=/etc/dehydrated
DOMAINS_TXT=
HOOK=
HOOK_CHAIN="no"
RENEW_DAYS="30"
KEYSIZE="4096"
WELLKNOWN=/var/lib/dehydrated/challenge
PRIVATE_KEY_RENEW="yes"
PRIVATE_KEY_ROLLOVER="no"
KEY_ALGO=rsa
OPENSSL=openssl
OPENSSL_CNF=
CONTACT_EMAIL=
LOCKFILE=
OCSP_MUST_STAPLE="no"
OCSP_FETCH="no"
OCSP_DAYS=5
IP_VERSION=
CHAINCACHE=
AUTO_CLEANUP="no"
DEHYDRATED_USER=
DEHYDRATED_GROUP=
API="auto"