# AS65342 mail schema
#
# mailKey: Borrowed from and identical to sendmailMTAKey.
attributetype ( 1.3.6.1.4.1.4203.666.1.93
	NAME 'mailKey'
	DESC 'key (left hand side) of an alias or virtual'
	EQUALITY caseIgnoreMatch
	SUBSTR caseIgnoreSubstringsMatch
	SYNTAX 1.3.6.1.4.1.1466.115.121.1.15{256} SINGLE-VALUE )

# MailValue: Borrowed from and identical to sendmailMTAAliasValue
attributetype ( 1.3.6.1.4.1.4203.666.1.94
    NAME 'mailAliasValue'
    DESC 'value (right hand side) of an alias'
    EQUALITY caseIgnoreMatch
	SUBSTR caseIgnoreSubstringsMatch
    SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 )

# This is the righthand side of a virtual. We can only have one value in virtuals,
# so we define it SINGLE-VALUE. We are violating Sendmail's LDAP namespace here
# (10.3.1.* is for attribute types) but we try to keep out of their way by using
# 1001 for the attribute oid.
attributetype ( 1.3.6.1.4.1.4203.666.1.95
    NAME 'mailVirtualValue'
    DESC 'value (right hand side) of a virtual'
    EQUALITY caseIgnoreMatch
	SUBSTR caseIgnoreSubstringsMatch
    SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 )

# Owner of the domain
attributetype ( 1.3.6.1.4.1.4203.666.1.96
    NAME 'domainAdmin'
    DESC 'Administrator of a domain'
    EQUALITY caseIgnoreMatch
	SUBSTR caseIgnoreSubstringsMatch
    SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 )

# what kind of maildomain are we handling here?
attributetype ( 1.3.6.1.4.1.4203.666.1.105
    NAME 'mtaTransport'
    DESC 'Next hop in mail setup'
    EQUALITY caseIgnoreMatch
	SUBSTR caseIgnoreSubstringsMatch
    SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 SINGLE-VALUE )

attributetype ( 1.3.6.1.4.1.4203.666.1.106
    NAME 'relayHost'
    DESC 'Next hop after bSMTP/SMTP'
    EQUALITY caseIgnoreMatch
	SUBSTR caseIgnoreSubstringsMatch
    SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 SINGLE-VALUE )

attributetype ( 1.3.6.1.4.1.4203.666.1.111
    NAME 'spam'
    DESC 'True when to scan for spam'
    EQUALITY booleanMatch
    SYNTAX 1.3.6.1.4.1.1466.115.121.1.7 )

attributetype ( 1.3.6.1.4.1.4203.666.1.112
    NAME 'virus'
    DESC 'True when to scan for virus'
    EQUALITY booleanMatch
    SYNTAX 1.3.6.1.4.1.1466.115.121.1.7 )

attributetype ( 1.3.6.1.4.1.4203.666.1.128
    NAME 'rbl'
    DESC 'True when rbl-ing is enabled'
    EQUALITY booleanMatch
    SYNTAX 1.3.6.1.4.1.1466.115.121.1.7 )

attributetype ( 1.3.6.1.4.1.4203.666.1.126
    NAME 'forwardAddress'
    DESC 'Mail address where to forward to'
    SUP name )

attributetype ( 1.3.6.1.4.1.4203.666.1.130 NAME 'mailDirectory'
	DESC 'The directory where mail is store'
	SUP homeDirectory )

objectclass     ( 1.3.6.1.4.1.0.5
    NAME 'mailVirtual'
    DESC 'Mail virtual user'
    SUP top STRUCTURAL
   	MUST ( mailKey $ mailVirtualValue ) 
    MAY ( spam $ virus $ rbl ))

# mailBSMTPVirtual - virtuals for vbsmtp
objectclass     ( 1.3.6.1.4.1.0.16
   NAME 'mailBSMTPVirtual'
   DESC 'Mail virtual user for BSMTP domains'
   SUP top STRUCTURAL
   MUST ( mailKey )
   MAY ( spam $ virus $ rbl ))

# mailDomain:
objectclass     ( 1.3.6.1.4.1.0.6
    NAME 'mailDomain'
    DESC 'Mail domain'
    SUP mailVirtual STRUCTURAL
	MAY ( description $ mtaTransport $ relayHost $ domainAdmin $
                spam $ virus $ rbl ) )

# mailAlias:
objectclass     ( 1.3.6.1.4.1.0.4
    NAME 'mailAlias'
    DESC 'Mail alias'
    SUP top STRUCTURAL 
   	MUST ( mailKey $ mailAliasValue ) )

# mailAccount:
objectclass     ( 1.3.6.1.4.1.0.3
    NAME 'mailAccount'
    DESC 'Mail account'
    SUP top
    AUXILIARY
    MAY ( virus $ spam $ rbl ))

