[Unit]
Description=etcd running in rkt
Requires=network-online.target                                                  
After=networking.service

[Service]
EnvironmentFile=/etc/rkt-environment
Slice=machine.slice
ExecStartPre=/usr/local/bin/rkt-cleanup etcd
ExecStart=/usr/bin/rkt \
--net=default:IP=${IP_ETCD} \
--hostname="${FQDN_ETCD}" \
--volume=data,kind=host,source=/var/rkt/etcd,readOnly=false \
--set-env-file /etc/rkt-environment \
run etcd -- \
--name ${FQDN_ETCD} \
--data-dir /var/lib/etcd \
--initial-cluster "default=http://${IP_ETCD}:2380,http://${ETCD_PEER_IP}:2380" \
--initial-cluster-state existing \
--initial-cluster-token "etcd-as65342" \
--initial-advertise-peer-urls "http://${IP_ETCD}:2380,http://${ETCD_PEER_IP}:2380" \
--advertise-client-urls "http://${IP_ETCD}:2379,http://${ETCD_PEER_IP}:2379" \
--listen-client-urls "http://${IP_ETCD}:2379" \
--listen-peer-urls "http://${IP_ETCD}:2380"
ExecStopPost=/usr/local/bin/rkt-cleanup etcd
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
